#heading {
  text-align: center;
}

h1 {
  font-family: Futura, sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: LightPink;
}

p.filler {
  font-family:
}

div.gallery {
  margin: 65px;
  border: 3px inset PaleGreen;
  float: left;
  width: 280px;
  height: 220px; 
  border-radius: 25px;
  background: MintCream;
  padding: 100px; 
}

div.gallery:hover {
  border: 3px inset LightPink;
  background: PeachPuff;
}

div.gallery img {
  margin: -63px;
  border: 3px solid LightPink;
  border-radius: 15px;
}

div.gallery img:hover {
  border: 3px solid MintCream;
}

div.desc {
  margin: 62px;
  padding: 15px;
  font-family: Arial;
  text-align: center;
  color: SandyBrown;
}

div.desc:hover {
  color: MediumSeaGreen;
}
