ul {
  background-color: MintCream;
  border: 10px solid Snow;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: inline-block;
  font-family: Baskerville;
  font-size: 1.25em;
  color: MediumSeaGreen;
  text-align: center;
  text-transform: uppercase;
  padding: 18px 18px;
  text-decoration: none;
}

li a:hover {
  background-color: SeaShell;
}

body {
  background-color: SeaShell;
}

h1 {
  color: LightPink;
  font-family: Futura, sans-serif;
  font-weight: bold;
  font-size: 4.375em;
  margin: 50px;
  text-align: center;
}

p.filler {
  background-color: PeachPuff;
  border: 15px solid Snow;
  text-align: center;
  font-family: Baskerville, serif;
  font-size: 1.875em;
  max-width: 500px;
  height: auto;
  padding: 50px;
  margin: auto;  
}

h2.greentext {
  color: MediumSeaGreen;
  font-family: Futura, sans-serif;
  font-size: 3.125em;
  margin:70px 120px;
  text-align: center;
}

h2.browntext {
  color: SandyBrown;
  font-family: Futura, sans-serif;
  font-size: 3.125em;
  margin: 25px 50px;
  text-align: center;
}

h2.pinktext {
  color: LightPink;
  font-family: Futura, sans-serif;
  font-size: 3.125em;
  margin: 25px 50px;
  text-align: center;
}

h3 {
  color: SandyBrown;
  font-family: Baskerville, serif;
  font-size: 1.25em;
  margin: 25px 50px;
  text-align: center;
}

div.picleft {
  margin: 65px;
  border: 3px inset PaleGreen;
  float: left;
  width: 280px;
  height: 220px; 
  border-radius: 25px;
  background: MintCream;
  padding: 100px; 
}

div.picright {
  margin: 65px;
  border: 3px inset PaleGreen;
  float: right;
  width: 280px;
  height: 220px; 
  border-radius: 25px;
  background: MintCream;
  padding: 100px; 
}

div.picleft:hover {
  border: 3px inset LightPink;
  background: PeachPuff;
}

div.picright:hover {
  border: 3px inset LightPink;
  background: PeachPuff;
}

div.picleft img {
  margin: -63px;
  border: 3px solid LightPink;
  border-radius: 15px;
}

div.picright img {
  margin: -63px;
  border: 3px solid LightPink;
  border-radius: 15px;
}

div.picleft img:hover {
  border: 3px solid MintCream;
}

div.picleft img:hover {
  border: 3px solid MintCream;
}

div.desc {
  margin: 62px;
  padding: 15px;
  font-family: Baskerville, serif;
  font-size: 1em;
  text-align: center;
  color: SandyBrown;
}

div.desc:hover {
  color: MediumSeaGreen;
}

/* Resume page
*/

body.center {
  text-align: center;
}

ul.list {
  list-style-type: none !important;
}

li.notnav {
  float: none !important;
}

/* Art portfolio page
*/

h4 {
  color: LightPink;
  font-family: Futura, sans-serif;
  margin: 25px 50px;
  text-align: center;
}
